@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;*/
  font-family: 'Nunito', arial, sans-serif;
}

:root {
  --bodyColor: "#EEF1FF";
}

body {
  min-height: 100vh;
  background-color: var(--bodyColor);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 400px;
  background: #D2DAFF;
  text-align: center;
  margin: 50px auto;
  border-radius: 25px;
  padding: 0 50px;
  padding-bottom: 32px;
}

#light {
  background: #D2DAFF;
}

#dark {
  background: #181818;
}

h1 {
  margin: 32px 0;
  color: #000000;
  font-size: 24px;
}

#light h1{
  color: #000000;
}

#dark h1 {
  color: white;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  width: 100%;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #000000;
  outline: none;
  width: 70%;
  background: transparent;
  color: #000000;
}

#light .todo-input {
  border: 2px solid #000000;
  color: #000000;
}

#dark .todo-input {
  border: 2px solid white;
  color: white;
}

.todo-description {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.todo-input::placeholder {
  color: #000000;
}

#light .todo-input::placeholder {
  color: #000000;
}

#dark .todo-input::placeholder {
  color: white;
}

.todo-button {
  /* padding: 16px; */
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 0 2px;
  padding: 16px 22px;
  background: #98A8F8;
  color: #000000;
  text-transform: capitalize;
}

#light .todo-button {
  background: #98A8F8;
  color: #000000
}

#dark .todo-button {
  background: #3C4048;
  color: white;
}

.todo-input.edit {
  border: 2px solid #000000;
}

#light .todo-input.edit {
  border: 2px solid #000000;
}

#dark .todo-input.edit {
  border: 2px solid white;
}

.todo-button.edit {
  background: #98A8F8;
}

#light .todo-button.edit {
  background: #98A8F8;
}

#dark .todo-button.edit {
  background: #3C4048;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000;
  background: #C689C6;

  padding: 16px;
  border-radius: 5px;
  width: 100%;
}

#light .todo-row {
  background: #C689C6;
}

.todo-row:nth-child(4n + 1) {
  background: #E8A0BF;
}

#light .todo-row:nth-child(4n + 1) {
  background: #E8A0BF;
}

.todo-row:nth-child(4n + 2) {
  background: #B1B2FF;
}

#light .todo-row:nth-child(4n + 2) {
  background: #B1B2FF;
}

.todo-row:nth-child(4n + 3) {
  background: #AAC4FF;
}

#light .todo-row:nth-child(4n + 3) {
  background: #AAC4FF;
}

#dark .todo-row, 
#dark .todo-row:nth-child(4n + 1), 
#dark .todo-row:nth-child(4n + 2), 
#dark .todo-row:nth-child(4n + 3) {
  color: white;
  background: #3C4048;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #000;
}

#light .delete-icon {
  color: #000;
}

#dark .delete-icon {
  color: white;
}

.edit-icon {
  color: #000;
}

#light .edit-icon {
  color: #000;
}

#dark .edit-icon {
  color: white;
}

.done {
  text-decoration: line-through;
}

.todo {
  width: 100%;
  text-align: left;
}

.description {
  display: flex;
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 180px;
  padding-top: 24px;
}

#light .switch label{
  color: black;
}

#dark .switch label{
  color: white;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  
}

#light .credits label {
  color: black;
  background-color: #E5EBB2;
  border-radius: 12px;
}

#dark .credits label {
  color: white;
  background-color: #3C4048;
  border-radius: 12px;
}